body {
    background-color:  whitesmoke;
}

nav {
    background: linear-gradient(45deg, DarkViolet 0%, purple 100%);
}

main {
    background-color:whitesmoke;
}

img {
    size: 0%;
}

mark {
    color: purple;
    background: none;
}

.bt {
    border-bottom: 1px solid;
    border-top-style: solid !important;
    border-top-width: 1px !important;
}